@page
@model IndexModel
@{
    ViewData["Title"] = "My Scripture Journal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Scripture Journal App</h1>
    <br></br>
    <br />
    <ul>
        <li>
            <a asp-page="Scriptures/Index">
                <button> See All Records</button>
            </a>
        </li>
    </ul>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
